
/* ------ NAVBAR ------*/ 

nav {
    text-align: left;
}

nav a {
 font-size: 1.5rem;
 font-style: italic;
 font-weight: bolder;
 text-decoration: none;
 color: white;
 padding-right: 2%;
 text-shadow: 3px 3px 3px rgb(51, 12, 12);
}

nav a:hover {
 color: rgb(251, 195, 167);
 text-decoration: underline;
 font-size: 1.6rem;
}

/*--------- HOME ---------*/

#home {
    width: auto;
    background-image: url(imagenes/banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 5%;
    border-top-left-radius: 12px;  
    border-top-right-radius: 12px;  
}

#encabezado {
    color: rgb(73, 27, 27);
    font-size: 8rem;
    font-family: Samarkan;
    margin-bottom: 20%;
    text-shadow: 5px 5px 5px rgb(177, 153, 97);
    margin-left: 10%;   
}

#main {
    text-align: right;
    margin-left: 30%;
}


/*--------- ABOUT ---------*/

#about{
    
    padding-top: 30px;
    background: linear-gradient(rgb(224, 198, 139), white);
}

.aboutleft {
    height: 100%;    
    width: 44%;
    float: left;
    background-color: rgb(218, 215, 215);
    padding:3%;
    color: rgb(59, 15, 15);
}

.aboutright {
    width: 50%;
    height: auto;
    float: right;
    text-align: center;
    color: white;
    background-color: black;
}

.big-picture img {
    width: 100%;
}

.big-picture {
    padding-bottom: 5%;
}

/*-------- STAFF ----------*/

#staff {
    clear: both;
    padding: 10%;
    background-color: rgb(255, 172, 131);    
}


.profile li {
    background:linear-gradient(rgb(251, 195, 167), rgb(254, 243, 238)); 
    display: inline-block; 
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1%;
    border-radius: 9px;
    color:rgb(59, 15, 15);
}

.profile img {
    width:75%;
    height:75%;
    border-radius: 50%; 
    border-style: solid; 
    border-color: rgb(59, 15, 15); 
    border-width: 2px;      
}

.name {
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

/*---------- CONTACT -------*/

#contact {
    padding-top: 30px;
    background: linear-gradient(rgb(224, 198, 139), white); 
         
}

form label {
    display: block;    
}

form input, form textarea { 
    width: 43%;
    display: block;
    padding: 3px;
   margin-bottom: 10px;
}

.button {
    width: 45%;
    padding: 10px;
    color: rgb(59, 15, 15);
    border-radius: 9px;
    background-color: rgb(255, 172, 131); 
    font-style: italic;
    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bolder; 
    transition: 0.5s all;
}

.button:hover {
    background-color: rgb(255, 143, 87);
    transform: scale(1.05);
}

ul {
    margin-top: 30px;
}

.item {
    font-style: italic;
    font-weight: bolder;
}



 .left {
    width: 50%;
    float: left;
    padding-left: 150px;
    color: rgb(59, 15, 15);
 }

 .right {
    float: right;
    text-align: right;
    padding-right: 10%;
}

.right img {
    width: 17%;
    padding-left: 5%;
    margin-top: 10%;
}


/*-------- FOOTER ---------*/


footer {
    margin-top: 500px;
    color: white;
    text-align: center;
    background-color: rgb(59, 15, 15);
    padding: 3px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; 
    clear: both;   
}

footer img { 
    width: 100px;   
    border-radius: 50%;
    border-style: solid; 
    border-color: white; 
    border-width: 2px;
    margin-top: 18px;
}

.copyleft {
    color: white;
    font-size: 12px;
}

/*------ MISCELANEAS -----*/
 
.destacado {
    font-size: 1.3rem;
    font-style: italic;
}

.seccion {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-style: italic;
    font-weight: bolder;
    color:rgb(59, 15, 15);

}

@font-face {
    font-family: Samarkan;
    src: url(fonts/Samarkan.ttf) format("truetype");
}

@media screen and (max-width: 480px){

    nav {
        text-align: center;
    }

    nav a {
        font-size: 1.2rem;
    }

    #home {
        background-position: right;
    }   

   #encabezado {
    font-size: 4rem;
    color: rgb(218, 215, 215);
    text-align: center;
   }

   form input, form textarea { 
    width: 97%;
   }

   .button {
        width: 100%;
   }

    .left {
        padding-left: 0%;
        width: auto;
    }

    .right {
    
    }

    .profile li {
        width: 80%;
        margin-top: 5%;
        padding: 5%;
    }

    .aboutleft {
      width: auto;  
    } 
    
    .aboutright {
        display: inline-block;
        width: 100%;
    }

}









